body {
  padding-top: 40px;
  line-height: 1.5;
  margin-bottom: 40px;
}

/* font tweaks */
p, ul, ol, blockquote {
  font-family: Georgia;
  font-size: 16px;
}

h1 {
  font-size: 30px; 
}
h2 {
  font-size: 25px; 
  line-height: 30px;
}

h3 {
  padding-top: 10px;
  font-family: Georgia;
  font-weight: normal;
  font-size: 25px;
}

.bio h1 a {
  text-transform: none;
  color: black;
}

#bio h1 {
  font-size: 38.5px;
}

#bio h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.img img {
  border-radius: 6px;
  height: 140px;
}

.tagline {
  padding-top: 0px;
  line-height: 25px;
}

.morelinks {
  padding-top: 0px;
  line-height: 20px;
  font-size: 20px;
}

#content {
  padding-top: 20px;
  padding-bottom: 40px;
}


#content h1 {
  width: 57.26495726495726%;
  *width: 57.21176577559556%;
}

p, h2, h3, pre, hr, blockquote {
  margin-bottom: 20px;
}
#content p, #content h2, #content h3, #content pre, #content hr, #content blockquote {
  width: 48.717948717948715%;
  *width: 48.664757228587014%;
}

#content img {
  width: 75%;
}

#content blockquote p {
  width: 100%;
}

#content li {
  line-height: 1.5;
}

a:visited
{
  color: #551A8B;	
}

a[rel="footnote"] {
  font-size: 15px;
}

.post {
  margin-bottom: 60px;
}

.about   {
  margin-top: 20px;
}


.sans-bold
{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

#content img {
  margin-bottom: 20px;
}



/*
body, p {
  font-family: 'Georgia', serif;
  font-size: 16px;
  line-height: 1.5;
}

#content p, #content h1, #content h2, #content blockquote, #content pre, #content li, #content hr {
  width: 500px;
  margin-bottom: 20px;
}

#content li {
  line-height: 1.5;
}

#content h1 {
  font-size: 24px;
}

#content h2 {
  font-size: 20px;
  line-height: 1.5;
}

#content img {
  margin-bottom: 20px;
}

header {
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5em;
} 

#content {
  margin-left: 20%;
}

.post {
  margin-bottom: 100px;
}

a:visited
{
  color: #551A8B;	
}

.sans-bold
{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}


#about ul, #about ol {
  margin: 0 0 9px 20px;
}




/*
body {
  width: 560px;
}

#header h1 {
  font-size: 45px; 
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

h1
{
  font-size: 22px;
  padding-top: 10px;
  font-family: 'Helvetica','Arial',sans-serif;
}

h1 a {
  color: black;
}

h1 a:visited {
  color: black;
}

h1 a:hover {
  color: #551A8B;
  text-decoration: none;

}



h2
{
  font-size: 18px;
  font-family: 'Helvetica','Arial',sans-serif;
}

a 
{
  text-decoration: none;
}

a:visited
{
  color: #551A8B;	
}

a:hover
{
  text-decoration: underline;
}

img 
{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#name a
{
  text-decoration: none;
  color: black;
}
#name a:hover
{
  color: #551A8B;
  text-decoration: none;
}

#prelude
{
  padding-top: 10px;
  font-size: 20px;
}

#tagline {
  font-size: 15px;
  position: relative;

}

#foo {
  font-size: 20px;
}

#content {
  font-weight: normal;
  font-size: 13pt;
  margin: auto auto -10px auto;
  margin-top: 20px;
}

.post {
  margin-bottom: 100px;
}

.post h1 {
  padding-bottom: 10px;
}

.post .sans-bold {
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

img {
  width: auto;
}

ul, ol {
  list-style-type: disc;
  margin: 1em 0
  display: block;
  padding-left: 40px;
}

#flickr_badge_uber_wrapper tr, #flickr_badge_uber_wrapper td {
  border: none;
} */

