<div class="row-fluid">
  <div id="content" class="span9 offset3">
    <section class="post">
    <h2>Here is an out of date list of stuff I've worked on:</h2>

    <p>I currently run <a href="http://state.io">State Machinery</a>, a security and development consultancy. We've been in business since November, 2012.</p>
    <!-- <p>Do you need a security audit? Do you need help making web apps? We're available <a href="http://state.io">for hire</a>. -->

      <h3 style="font-family: 'Courier New', monospace"><a href="http://xvzf.io">xvzf</a></h3>
       <p>Established in 2014, with a few co-conspirators, I organize and throw a regularly occurring storytelling night for Toronto tech workers. We produce a podcast, and a whole bunch of people show up. You should <a href="http://xvzf.io">check it out</a>.</p>
      <h3>Gemcanary</h3>
      <p>
        In February 2013, we built <a href="https://gemcanary.com">Gemcanary</a>, a tool for monitoring known security disclosures in Rails/Bundler enabled applications on Github. I wrote a little bit more about it <a href="http://finite.state.io/blog/2013/03/08/making-gemcanary/">on the State Machinery blog</a>.
      </p>

      <iframe width="640" height="360" src="//www.youtube.com/embed/R7pgAlCB3kU?feature=player_embedded" frameborder="0" allowfullscreen></iframe>

      <h3>Audiogram</h3>
      <p>
        Back in January 2012, I created an app for an dance party art installation. I combined the instagram api with some javascript and it was <a href="">a lot of fun</a>.
      </p>

      <h3>NYTimes Timelapse</h3>
      <p>
        In July 2011, I put together an <a href="/2011/nytimes-timelapse.html">eight month time lapse</a> of the front page of the nytimes.com. I wrote a <a href="/2011/howto-timelapse-nytimes.html">time lapse tutorial</a>, and I also happened to capture <a href="/2011/bbc-timelapse.html">the front page of the bbc</a>. It got a lot of attention, and it was pretty neat.
      </p>

      <h3>Undergraduate thesis</h3>
      <p>
        In lieu of course work, prior to graduating I wrote an undergraduate thesis on <a href="/2011/thoughts-on-building-a-feed-reader.html">applying a naïve bayesian classifier to rss feeds</a>.
      </p>
    </section>
  </div>
</div>

