{% include start.html %}
{% if page.foo %}
{% else %}
  {% include header.html %}
{% endif %}

<!-- <div class="row&#45;fluid"> -->
  <!--   <div id="bio" class="span6 offset2"> -->
    <!--     <h1><a href="/">Phillip Mendonça&#45;Vieira</a></h1> -->
    <!--     <h3 class="tagline">Chief exporter of awesome. Partner at <a href="http://state.io">State.io</a></h3> -->
    <!--     <h3 class="morelinks"><a href="/about.html">About</a>, <a href="/archive.html">archive</a>. You can also find me on <a href="http://twitter.com/phillmv">twitter</a>, <a href="http://instagram.com/phillmv">instagram</a> or <a href="http://www.flickr.com/photos/hiffy/">flickr</a></h3> -->
    <!--   </div> -->
  <!-- </div> -->

{{ content }}


{% include end.html %}

