{% include start.html %}
{% include header.html %}

<div class="row-fluid">
  <div id="content" class="span9 offset3">
    {{ content }}

    <div class="pagination">
      <p>
        {% if paginator.next_page %}
        But wait! There's more.<br/>
        {% endif %}
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <span style="margin-right: 30%"><a href="/">Previous page</a></span>
        {% else %}
        <span style="margin-right: 30%"><a href="/page{{paginator.previous_page}}">Previous page</a></span>
        {% endif %}
        {% endif %}

        {% if paginator.next_page %}
        <span><a href="/page{{paginator.next_page}}">Next page</a></span>
        {% endif %}
      </p>
      <p><a href="/atom.xml">feed / atom</a></p>
    </div> 
  </div>

</div>
{% include end.html %}


