{% include start.html %}
<div class="row-fluid">
  <div id="bio" class="span6 offset3">
    <h1><a href="/about.html">about</a>, projects, photography</h1> 
    <h3 class="morelinks"><a href="/archive.html">archive</a>. twitter, github, instagram, flickr.</h3>
  </div>
</div>

<!-- <div class="row&#45;fluid"> -->
  <!--   <div id="bio" class="span6 offset2"> -->
    <!--     <h1><a href="/">Phillip Mendonça&#45;Vieira</a></h1> -->
    <!--     <h3 class="tagline">Chief exporter of awesome. Partner at <a href="http://state.io">State.io</a></h3> -->
    <!--     <h3 class="morelinks"><a href="/about.html">About</a>, <a href="/archive.html">archive</a>. You can also find me on <a href="http://twitter.com/phillmv">twitter</a>, <a href="http://instagram.com/phillmv">instagram</a> or <a href="http://www.flickr.com/photos/hiffy/">flickr</a></h3> -->
    <!--   </div> -->
  <!-- </div> -->

<div class="row-fluid">
  <div id="content" class="span9 offset3">
    {{ content }}

    <div class="pagination">
      <p>
        {% if paginator.next_page %}
        But wait! There's more.<br/>
        {% endif %}
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <span style="margin-right: 30%"><a href="/">Previous page</a></span>
        {% else %}
        <span style="margin-right: 30%"><a href="/page{{paginator.previous_page}}">Previous page</a></span>
        {% endif %}
        {% endif %}

        {% if paginator.next_page %}
        <span><a href="/page{{paginator.next_page}}">Next page</a></span>
        {% endif %}
      </p>
      <p><a href="/atom.xml">feed / atom</a></p>
    </div> 
  </div>

</div>
{% include end.html %}


