{% include start.html %}

<div class="row-fluid">
  <div class="span4 offset4">
    <iframe src="https://vine.co/v/O6AeA3zetbO/embed/simple" width="400" height="400" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
  </div>
</div>
<div clas="row-fluid">
  <div class="span6 offset3">
    <h1 style="text-align: center">Phillip Mendonça-Vieira</h1>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 offset3">
    <p>Hello. I live in Toronto. I work as a software engineer. I build things and put them on the internet, though my favourite thing to do is find ways to bring people together.</p>
    <p>If you'd like to get in touch, you can reach me at phillmv -at- okayfail.com</p>
    <h3 class="morelinks">Follow me on: <a href="http://twitter.com/phillmv">twitter</a>, <a href="http://github.com/phillmv">github</a>, <a href="http://instagram.com/phillmv">instagram</a>, <a href="http://flickr.com/photos/hiffy">flickr</a>.</h3>

  </div>
</div>

<div class="row-fluid">
  <div class="span6 offset3">
    <p>Occasionally I write blog posts. You can find an <a href="/archive.html">archive here</a> or on <a href="http://medium.com/@phillmv">medium</a>. You can also read about the <a href="/photography.html">photography I indulge in</a>.
  </div>
</div>

<div class="row-fluid">
  <div id="content" class="span9 offset3">
    <section class="post">
    <h2>Here is an out of date list of stuff I've worked on:</h2>

    <p>I currently run <a href="http://state.io">State Machinery</a>, a security and development consultancy. We've been in business since November, 2012.</p>
    <!-- <p>Do you need a security audit? Do you need help making web apps? We're available <a href="http://state.io">for hire</a>. -->

       <h3 style="font-family: 'Courier New', monospace">xvzf</h3>
       <p>Established in 2014, with a few co-conspirators, I organize and throw a regularly occurring storytelling night for Toronto tech workers. We produce a podcast, and a whole bunch of people show up. You should <a href="http://xvzf.io">check it out</a>.</p>
      <h3>Gemcanary</h3>
      <p>
        In February 2013, we built <a href="https://gemcanary.com">Gemcanary</a>, a tool for monitoring known security disclosures in Rails/Bundler enabled applications on Github. I wrote a little bit more about it <a href="http://finite.state.io/blog/2013/03/08/making-gemcanary/">on the State Machinery blog</a>.
      </p>

      <iframe width="640" height="360" src="//www.youtube.com/embed/R7pgAlCB3kU?feature=player_embedded" frameborder="0" allowfullscreen></iframe>

      <h3>Audiogram</h3>
      <p>
        Back in January 2012, I created an app for an dance party art installation. I combined the instagram api with some javascript and it was <a href="">a lot of fun</a>.
      </p>

      <h3>NYTimes Timelapse</h3>
      <p>
        In July 2011, I put together an <a href="/2011/nytimes-timelapse.html">eight month time lapse</a> of the front page of the nytimes.com. I wrote a <a href="/2011/howto-timelapse-nytimes.html">time lapse tutorial</a>, and I also happened to capture <a href="/2011/bbc-timelapse.html">the front page of the bbc</a>. It got a lot of attention, and it was pretty neat.
      </p>

      <h3>Undergraduate thesis</h3>
      <p>
        In lieu of course work, prior to graduating I wrote an undergraduate thesis on <a href="/2011/thoughts-on-building-a-feed-reader.html">applying a naïve bayesian classifier to rss feeds</a>.
      </p>
    </section>
  </div>
</div>

{% include end.html %}

